/*
header {
    background: #EEE;
    display: flex;
    justify-content: space-between;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
*/
ul {
    list-style: none;
}

body{
    justify-content: center;
}
div#title{
    background: #EEE;
    list-style: none;
}
.content {
    display: flex;
}
div#leftbar{
    background: #EEE;
    margin-right: auto;
    width: 150px;
}
div#space{
    width: 10px;
}
div#main{
    flex: 1;
    justify-content: center;
    background: #EEE;
}
div#canvas{
    width: 480;
    margin: auto;
}
div#rightbar{
    background-color: #EEE;
    margin-left: auto;
}