/*
header {
    background: #EEE;
    display: flex;
    justify-content: space-between;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
*/
ul {
    list-style: none;
}

body{
    justify-content: center;
}
.title{
    background: #EEE;

}
.content {
    display: flex;
}
.sidebar{
    background: #EEE;
    margin-right: auto;
    width: 150px;
}
.space{
    width: 10px;
}
.main{
    flex: 1;
    background: #EEE;
}
.twitter{
    background-color: #EEE;
    margin-left: auto;
}